@{
  Layout = "_Layout";
}

@model UniRegistrar.Models.Student
@using UniRegistrar.Models

<h4>Register a new student</h4>

@using (Html.BeginForm())
{
  @Html.Label("Name")
  @Html.TextBoxFor(model => model.StudentName)

  @Html.Label("Enrollment date")
  @Html.TextBoxFor(model => model.EnrollmentDate)
  <br>
  <br>
  @Html.Label("Select courses to enroll in")
  @* for (var i = 0; i < ViewBag.CourseList.Count; i++)
  {

  }   *@
  @foreach(Course course in ViewBag.CourseList)
  {
    @* @Html.DisplayFor(course.CourseId)
    <input type="checkbox"
      value="course.CourseId" name="course.CourseId" id="course.CourseId"> *@
    <br>
    <label for="CourseId">@course.CourseNumber @course.CourseName</label>
    <input type="checkbox" value="@course.CourseId">
  }
  <br>
  <input type="submit" value="Complete registration" class="btn btn-default" />
}